@import url(./font.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
header{
    background: #FAFBFD;
    /* padding: 0 0 60px 0; */
}
.container {
  max-width: 1090px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.img {
  background: url(../img/health_bg.png) center right / contain no-repeat;
  height: 700px;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 15px;
  margin-bottom: 85px;
}
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.header__navbar-link a {
  color: #000;
  font-family: "Raleway";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;
  transition: 0.1s;
}
.header__navbar-link a:hover {
  color: #ec5863;
  font-size: 13px;
}

.header__btn {
  width: 130px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #4285f4;
  padding: 14px 30px;
  transition: 0.3s;
}
.header__btn:hover {
  background: #000;
  
}
.header__btn p {
  color: #fcfdfe;
  font-family: "Raleway";
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.4px;
}

.health__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;v
}
.health__desc {
  display: flex;
  flex-direction: column;
}

.health__desc-title {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Rubik";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
   line-height: 126%; /* 55.44px */
  margin-bottom: 12px;
}
.health__desc-title-bl {
  color: #4285f4;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Rubik";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 126%;
}

.health__desc-text {
  color: #616161;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.5%; /* 16.62px */
  letter-spacing: 0.96px;
  max-width: 375px;
  width: 100%;
  margin-bottom: 24px;
}

.health__desc-btn {
  width: 144px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #ec5863;
  padding: 10px 31px;
  transition: 0.3s;
}
.health__desc-btn:hover{
    background: #4285f4;
}
.health__desc-btn a {
  color: #fcfdfe;
  font-family: 'Raleway';
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.4px;
}

.video__play{
    margin-top: -50px;
}

.safe__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    gap: 150px;
    margin-bottom: 80px;
    
}

.safe__desc{
    display: flex;
    flex-direction: column;
    max-width: 380px;
    width: 100%;
}

.safe__desc-title{
   color: #000;
   font-variant-numeric: lining-nums proportional-nums;
   font-family: 'Rubik';
   font-size: 44px;
   font-style: normal;
   font-weight: 700;
   line-height: 126%; /* 55.44px */
 margin-bottom: 12px;
   
}
.safe__desc-title-red{
  color: #EC5863;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'Rubik';
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
 line-height: 126%;
}

.safe__desc-desc{
  color: #616161;
font-variant-numeric: lining-nums proportional-nums;
font-family: 'Rubik';
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 138.5%; /* 16.62px */
letter-spacing: 0.96px;
margin-bottom: 24px;
}

.safe__desc-btn{
width: 144px;
height: 40px;
flex-shrink: 0;
border-radius: 5px;
background: #EC5863;
padding: 11px 42px;
transition: 0.3s;
}
.safe__desc-btn:hover{
  background: #4285f4;
}
.safe__desc-btn a{
  color: #FCFDFE;
text-align: center;
font-family: 'Raleway';
font-size: 10px;
font-weight: 800;
letter-spacing: 1.4px;
text-transform: uppercase;
}
.talk{
  background: #FAFBFD;

}
.talk__wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.talk__inf{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
  margin-bottom: 116px;
}

.talk__inf_desc{
  display: flex;
  flex-direction: column;
}
.talk__img{
  margin-top: 50px;
}
.talk__inf_desc-title{
  color: #000;
font-variant-numeric: lining-nums proportional-nums;
font-family: 'Rubik';
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 126%; /* 55.44px */
margin-bottom: 12px;
}
.talk__inf_desc-title-bl{
  color: #587EEC;
font-variant-numeric: lining-nums proportional-nums;
font-family: 'Rubik';
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 126%;
}

.talk__inf_desc-text{
  color: #616161;
font-variant-numeric: lining-nums proportional-nums;
font-family: 'Rubik';
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 138.5%; /* 16.62px */
letter-spacing: 0.96px;
width: 363px;
margin-bottom: 24px;

}

.healthcare__wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.healthcare__title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.healthcare__title-h{
  margin-top: 80px;
  color: #000;
font-variant-numeric: lining-nums proportional-nums;
font-family: 'Rubik';
font-size: 44px;
font-style: normal;
font-weight: 700;
margin-bottom: 14px;
line-height: 126%;
}
.healthcare__title-h-bl{
  color: #EC5863;
text-align: center;
font-variant-numeric: lining-nums proportional-nums;
font-family: 'Rubik';
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 126%; /* 55.44px */
}
.healthcare__title-p{
  color: #616161;
text-align: center;
font-variant-numeric: lining-nums proportional-nums;
font-family: 'Rubik';
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 138.5%; /* 16.62px */
letter-spacing: 0.96px;
max-width: 600px;
width: 100%;
margin-bottom: 40px;
}
.healthcare__card{
  margin-bottom: 30px;
}

.healthcare__bottom{
  margin-bottom: 50px;
}